BACKEND_PORT=8080
DB_PORT=5432
POSTGRES_USER=local
POSTGRES_PASSWORD=password
POSTGRES_DB=studyplanner
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/studyplanner
SPRING_PROFILES_ACTIVE=true
SPRINGDOC_SWAGGER_UI_ENABLED=true
SPRINGDOC_API_DOCS_ENABLED=true