.page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1000px;
}

.page__title {
  font-family: 'Lexend', system-ui, sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  margin: 0;
  text-transform: uppercase;
  color: var(--color-page-title);
}
