th {
  color: var(--color-light-text);
  font-size: 14px;
  font-weight: 200;
}

td {
  font-size: 12px;
  font-weight: 600;
}

.course__table {
  border-collapse: separate;
  border-spacing: 0 6px;
  table-layout: fixed;
  width: 100%;
}

.course__row td {
  background-color: var(--color-table-background);
  cursor: default;
}

.course__row td:first-child {
  border-radius: 8px 0 0 8px;
}

.course__row td:nth-last-child(2) {
  border-radius: 0 8px 8px 0;
}

.col__title {
  padding-left: 8px;
  width: 65%;
  text-align: left;
}

.col__credits {
  width: 15%;
  text-align: center;
}

.col__semester {
  width: 15%;
  text-align: center;
}

.badge__center {
  display: flex;
  justify-content: center;
}

.col__action {
  width: 5%;
  text-align: left;
  padding-left: 8px;
}

.add__btn {
  background: none;
  border: none;
  height: 32px;
  width: 32px;
  cursor: pointer;
  padding: 8px;
}

.add__btn:hover {
  background: var(--color-table-background);
  border-radius: 8px;
}

.course__row td:last-child {
  background: none;
}

.course__code {
  font-weight: 400;
}
