<table class="course__table">
  <thead>
    @if (showHeader()) {
      <tr>
        <th class="col__title"></th>
        <th class="col__credits">{{ 'CurriculumPlanning.CoursePoints' | t }}</th>
        <th class="col__semester">{{ 'CurriculumPlanning.StudySemester' | t }}</th>
        <th class="col__action"></th>
      </tr>
    }
  </thead>
  <tbody>
    @for (course of courses(); track course.oisExternalId) {
      <tr class="course__row">
        <td class="col__title">
          {{ course.titleEt }} <span class="course__code">({{ course.code }})</span>
        </td>
        <td class="col__credits">{{ course.credits }}</td>
        <td class="col__semester">
          @if (course.semesterType) {
            <div class="badge__center">
              <app-semester-badge [semester]="course.semesterType" />
            </div>
          }
        </td>
        <td class="col__action">
          @if (actionTemplate()) {
            <ng-container
              [ngTemplateOutlet]="actionTemplate()!"
              [ngTemplateOutletContext]="{ $implicit: course }"
            />
          } @else {
            <button type="button" class="add__btn">+</button>
          }
        </td>
      </tr>
    }
  </tbody>
</table>
